@using LayeredArchitecture.Domain;

@model Customer
@{
    ViewData["Title"] = "Customer Details";
}

<div class="row">
    <div class="col-md-12">
        <h2>Customer details</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Last name</td>
                    <td>Favotire Drink</td>
                    <td>Age</td>
                    <td>Company</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Name</td>
                    <td>@Model.Lastname</td>
                    <td>@Model.FavoriteDrink</td>
                    <td>@Model.Age</td>
                    <td>@Model.Company</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
